
.sidebar-list {
  height: 76vh;         
  overflow-y: scroll;    
}

.sidebar-list li {
  padding: 8px;
  transition: background-color 0.2s;
}

.sidebar-list li:hover {
  background-color: #e0e7ff;
}

.sidebar-list li.active {
  background-color: #bfdbfe;
  font-weight: 500;
}
